<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwhqtxqlldr_vu9MmaCtAl-K1X4M1GTXE</string>
	<key>GCM_SENDER_ID</key>
	<string>173762104303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aiibd3.myday</string>
	<key>PROJECT_ID</key>
	<string>myday-f29a0</string>
	<key>STORAGE_BUCKET</key>
	<string>myday-f29a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173762104303:ios:408ae49fd8d7e62ed5441a</string>
</dict>
</plist>